@import '~/assets/colors.scss';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
    word-wrap: break-word;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: 'Lato';
	h2 {
		margin-bottom: 2rem;
		text-transform: capitalize;
		font-family: 'OneSignature';
		font-size: 4rem;
		line-height: 4.5rem;
		font-weight: 400;
	}
	p {
		font-family: 'Lato';
		font-size: 1rem;
		line-height: 1.5rem;
		color: $text;
	}
	img {
		&.lazyload,
			&.lazyloading {
				opacity: 0;
			}
			&.lazyloaded {
				opacity: 1;
				transition: all 2s cubic-bezier(0.215, 0.61, 0.355, 1);
			}
	}
}

.bg {
	z-index: -1;
	height: 100vh;

	.slick-list {
		.slick-track {
			.slick-slide {
				img {
					user-select: none;
					width: 100%;
					height: 100vh;
					object-fit: cover;
					object-position: center;
				}
				transition: all 0.35s ease;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}



.gallery {
	.slick-list {
		.slick-track {
			.slick-slide {
				padding: 1rem;
				.image {
					height: 15rem;
					display: flex;
					position: relative;
					&::before {
						z-index: 1;
						content: '';
						position: absolute;
						top: 0;
						// width: calc(100% - 1rem);
						width: 100%;
						height: 100%;

						background: $black;
						opacity: 0;
					}
					img {
						z-index: 0;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					transition: all 0.75s ease;

					&:hover {
						cursor: pointer;

						.plus {
							opacity: 0.25;
						}
						.prev,
						.next {
							opacity: 1;
						}

						&::before {
							transition: all 0.35s ease;
							opacity: 0.35;
						}
					}
					.plus {
						opacity: 0;
						z-index: 2;

						position: absolute;
						top: calc(50% - 2rem);
						left: calc(50% - 2rem);
						width: 4rem;
						height: 4rem;
						padding: 1rem;
						border: 2px solid $white;
						border-radius: 50%;
						transition: all 0.35s ease;

						&:hover {
							opacity: 1;
						}
					}
					.prev {
						opacity: 0;
						z-index: 2;
						position: absolute;
						top: calc(50% - 1rem);
						left: 0;
						width: 24px;
						height: 36px;
						padding: 5px;
						background: rgba(0, 0, 0, 0.5);
						transition: all 0.35s ease;
						transform: rotate(-180deg);
					}
					.next {
						opacity: 0;
						z-index: 2;
						position: absolute;
						top: calc(50% - 1rem);
						right: 0;
						width: 24px;
						height: 36px;
						padding: 5px;
						background: rgba(0, 0, 0, 0.5);
						transition: all 0.35s ease;
					}
				}
				transition: all 0.35s ease;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}








@media (max-width: 800px) {}



