@import '~/assets/colors.scss';

@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Regular.woff2') format('woff2');
	font-weight: c;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('/fonts/Lato-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OneSignature';
	src: url('/fonts/OneSignature.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	word-wrap: break-word;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: 'Lato';

	h2 {
		margin-bottom: 2rem;
		text-transform: capitalize;
		font-family: 'OneSignature';
		font-size: 4rem;
		line-height: 4.5rem;
		font-weight: 400;
	}

	p {
		font-family: 'Lato';
		font-size: 1rem;
		line-height: 1.5rem;
		color: $text;
	}

	img {

		&.lazyload,
		&.lazyloading {
			opacity: 0;
		}

		&.lazyloaded {
			opacity: 1;
			transition: all 2s cubic-bezier(0.215, 0.61, 0.355, 1);
		}
	}
}


// index bg
.bg {
	z-index: -1;
	height: 100vh;

	.slick-list {
		.slick-track {
			.slick-slide {
				img {
					user-select: none;
					width: 100%;
					height: 100vh;
					object-fit: cover;
					object-position: center;
				}

				transition: all 0.35s ease;

				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}

#gallery {
	.grid {
		.cool-lightbox .cool-lightbox-button {
			width: 4rem;
			height: 4rem;
			padding: 5px;
			background: rgba(0, 0, 0, .5);

			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 2rem
			}

			&.cool-lightbox-button--prev {
				transform: rotate(180deg);
			}
		}
	}
}


.page-enter-active,
.page-leave-active {
	transition: opacity .2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.page-enter,
.page-leave-active {
	opacity: 0
}