@import '~/assets/colors.scss';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
    word-wrap: break-word;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: 'Lato', sans-serif;
	h2 {
		margin-bottom: 2rem;
		text-transform: capitalize;
		font-family: 'OneSignature';
		font-size: 4rem;
		line-height: 4.5rem;
		font-weight: 400;
	}
	p {
		font-family: 'Lato';
		font-size: 1rem;
		line-height: 1.5rem;
		color: $text;
	}
	img {
		&.lazyload,
			&.lazyloading {
				opacity: 0;
			}
			&.lazyloaded {
				opacity: 1;
				transition: all 2s cubic-bezier(0.215, 0.61, 0.355, 1);
			}
	}
}












